<div class="pageContent">
  <div class="pages homewrap"> 
    <!--Sector section starts here-->
    <div id="Sector" class="sectionwrap">
      <div class="home-caption">Sector</div>
      <div class="breadcrumbs-wrap">
        <ul class="breadcrumb">
          <li><a class="homebtn" href="#">Home</a></li>
          <li><a id="sector" href="#">Sector</a></li>
        </ul>
      </div>
      <div class="item-list"> 
        <!--items starts here--> 
        <a href="#" class="itemsdril">
        <div class="items">
          <div><img src="/../assets/images/1.png"> </div>
          <div class="items-content-wrap">
            <div class="item-captions">Automotive &amp; Transportation</div>
            <div class="count-wrap">
              <div class="left count-asset">10</div>
              <div class="left asettxt">Assets</div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        </a> 
        <!--items ends here-->        
        <div class="clear"></div>
      </div>
    </div>
    <!--Sector section ends here-->
  </div>
</div>