<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="container"> 
    
    <!--content starts here-->
    <div class="middle-content">
      <p class="welcomeNote">Welcome to <span>Global Advisory Asset Catalogue</span></p>
      <div class="introductnNote">
        <p class="introHead">Introduction goes here</p>
        <div class="underline"></div>
        <p class="introPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque.</p>
        <div class="sectors ">
          <ul>
            <li (click)="sectorClick()" id="Sector">
              <div class="home-icon sectorImg"></div>
              <div>Sector</div>
            </li>
            <li (click)="practiceClick()" id="Practice">
              <div class="home-icon practiceImg"></div>
              <div>Practice</div>
              <div></div>
            </li>
            <li (click)="assettypeClick()" id="assettype">
              <div class="home-icon assetTypeImg"></div>
              <div>Asset Type</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>